
.kh{
    color: gold;
    font-size: 28px;
}   

a {
    list-style: none;
    color: red;

}
.kkhmm{
    color: gold !important;}

.b{
    color: red;
}
.mynav{
    color: aqua;
    font-size: 22px;
}